<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="contenedorPadre-contacto">
    <header class=" header">
        <a href="../index.html"><img src="https://icongr.am/simple/freelancer.svg?size=90&color=800080&colored=false" alt="Flip Barber's" class="logoFlip"></a>
        <nav>
            <ul>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
            </ul>
        </nav>
    </header>
    <main class="flipContacto">
        <h1>Flip Barber's</h1>
    </main>
    <div class="contacto-1">
        <h2>¡ATENCION!</h2>
    </div>
    <div class="contacto-2">
        <h2>Podes reservar un turno de manera totalmente online y evitar la espera!!!</h2>
    </div>
    <div class="contacto-3">
        <h3>A continuacion completa con tus datos y reserva tu lugar!</h3>
    </div>
    <form action="#" class="formContacto">
        <label for="nombre">Nombre:
            <input type="text" name="nombre" placeholder="NOMBRE">
        </label>
        <label for="apellido">Apellido:
            <input type="text" name="apellido" placeholder="APELLIDO">
        </label>
        <label for="edad">EDAD:
            <input type="number" name="edad" placeholder="EDAD">
        </label>
        <div>
            <input type="submit" name="ENVIAR" value="ENVIAR">
            <input type="submit" name="LIMPIAR" value="LIMPIAR">
        </div>
        <div>
            <h3>Comentarios:</h3>
            <textarea name="comentario" id="comentario" cols="30" rows="3"></textarea>
        </div>
    </form>
    <footer class="footer">
        <ul>
            <li><a href="#"><img src="https://icongr.am/entypo/facebook.svg?size=45&color=0080c0" alt="Facebook"></a></li>
            <li><a href="#"></a><img src="https://icongr.am/entypo/instagram.svg?size=45&color=0080c0" alt="Instagram"></a></li>
            <p><strong>El dinero no es la clave del éxito; la libertad para poder crear lo es - Nelson Mandela</strong></p>
            <li><a href="#"><img src="https://icongr.am/entypo/linkedin.svg?size=45&color=0080c0" alt="Linkedin"></a></li>
            <li><a href="#"><img src="https://icongr.am/entypo/twitter.svg?size=45&color=0080c0" alt="Twitter"></a></li>
        </ul>
    </footer>
</body>

</html>