<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="contenedorPadre-nosotros">
    <header class="header">
        <a href="../index.html"><img src="https://icongr.am/simple/freelancer.svg?size=90&color=800080&colored=false" alt="Flip Barber's" class="logoFlip"></a>
        <nav>
            <ul>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
            </ul>
        </nav>
    </header>
    <main class="flipNosotros">
        <h1>Flip Barber's</h1>
    </main>
    <div class="nosotros-1">
        <h2><strong>¿Por que deberias confiar en nosotros?</strong></h2>
    </div>
    <div class="nosotros-2">
        <h2>- Multiples disenos a eleccion</h2>
    </div>
    <div class="nosotros-3">
        <h2>- Calidad / Precio</h2>
    </div>
    <div class="nosotros-4">
        <h2>- Reservas online</h2>
    </div>
    <div class="nosotros-5">
        <h2>- Equipo de profesionales</h2>
    </div>
    <div class="nosotros-6">
        <h2>- Experiencia garantizada</h2>
    </div>
    <div class="dreamteam-1">
    </div>
    <div class="work-1">
    </div>
    <div class="sucursal-1">
    </div>
    <footer class="footer">
        <ul>
            <li><a href="#"><img src="https://icongr.am/entypo/facebook.svg?size=45&color=0080c0" alt="Facebook Flip Barber's"></a></li>
            <li><a href="#"></a><img src="https://icongr.am/entypo/instagram.svg?size=45&color=0080c0" alt="Instagram Flip Barber's"></a></li>
            <p><strong>El optimismo fuerte y paciente siempre rinde sus frutos - Carlos Slim</strong></p>
            <li><a href="#"><img src="https://icongr.am/entypo/linkedin.svg?size=45&color=0080c0" alt="Linkedin Flip Barber's"></a></li>
            <li><a href="#"><img src="https://icongr.am/entypo/twitter.svg?size=45&color=0080c0" alt="Twitter Flip Barber's"></a></li>
        </ul>
    </footer>
</body>

</html>