 <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="contenedorPadre-productos">
    <header class="headerProductos">
        <a href="../index.html"><img src="https://icongr.am/simple/freelancer.svg?size=90&color=800080&colored=false" alt="Flip Barber's" class="logoFlip"></a>
        <nav>
            <ul>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
            </ul>
        </nav>
    </header>

    <main class="flipProductos">
        <h1>Flip Barber's</h1>
    </main>
    <div class="nuestrosProductos1">
        <p>ALGUNOS DE NUESTROS PRODUCTOS !</p>
    </div>
    <div class="nuestrosProductos2">
        <table border="5" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>PRECIO</th>
            </tr>
            <tr>
                <td>1</td>
                <td>NAVAJA NACIONAL</td>
                <td>MADERA</td>
                <td>$1000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TRIMMER</td>
                <td>KEMEI DETAILER</td>
                <td>$6600</td>
            </tr>
            <tr>
                <td>3</td>
                <td>CERA</td>
                <td>COSTA MANGO</td>
                <td>$430</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TAPPER</td>
                <td>WAHL</td>
                <td>$11300</td>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="#"><img src="https://icongr.am/entypo/facebook.svg?size=45&color=0080c0" alt="Facebook"></a></li>
            <li><a href="#"></a><img src="https://icongr.am/entypo/instagram.svg?size=45&color=0080c0" alt="Instagram"></a></li>
            <p><strong>Ejecuta tus conocimientos con la maestria del que sigue aprendiendo - Jonathan Garcia-Allen</strong></p>
            <li><a href="#"><img src="https://icongr.am/entypo/linkedin.svg?size=45&color=0080c0" alt="Linkedin"></a></li>
            <li><a href="#"><img src="https://icongr.am/entypo/twitter.svg?size=45&color=0080c0" alt="Twitter"></a></li>
        </ul>
    </footer>
</body>

</html>